#root {
  max-width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.topnav {
  position: sticky;
  height: fit-content;
  display: flex;
  width: 100vw;
  margin: 0;
  margin-bottom: 30px;
  padding: 10px;
  top: 0;
  z-index: 1000;
  align-items: center;
  background-color: #FE7F2D;
  border-color: #233D4D;
}

.author_info {
  max-height: 0;
  overflow: hidden;
}

.navitem {
  padding: 5px;
  font-size: 1.5vw;
}

.login_button {
  padding: 10px;
  position: fixed;
  right: 5px;
}

.register_button {
  padding: 5px;
  position: fixed;
  font-size: 1.5vw;
  background-color: #215E61;
  color: #ffffff;
  right: 10vw;
  border-radius: 5px;
  max-height: 50px;
  max-width: fit-content;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

.blog {
  margin: auto;
  margin-bottom: 10px;
  width: 90vw;
  height: fit-content;
  padding: 10px;
  border: #233D4D;
  border-style: solid;
  border-radius: 10px;
  text-align: left;
  overflow-wrap: break-word;
}

.blog_editor {
  margin: auto;
  margin-top: 60px;
  width: 90vw;
  height: fit-content;
  padding: 10px;
  border: #233D4D;
  border-style: solid;
  border-radius: 10px;
  text-align: left;
  overflow-wrap: break-word;
}

.log-reg_form {
  margin: auto;
  margin-top: 60px;
  width: 90vw;
  height: fit-content;
  padding: 10px;
  border: #233D4D;
  border-style: solid;
  border-radius: 10px;
  text-align: left;
  overflow-wrap: break-word;
}

.blog_header {
  margin: 0;
  font-size: large;
  font-weight: 1000;
  cursor: pointer;
}

.view_blog_header {
  margin: 0;
  font-size: xx-large;
  font-weight: 1000;
  margin-bottom: 40px;
}

.blog_author {
  margin-top: 0;
  margin-right: 5px;
  font-style: oblique;
  font-weight: 400;
  cursor: pointer;
}

.view_blog_author {
  margin: 0;
  margin-right: 5px;
  font-weight: 600;
}

.view_blog_date {
  margin: 0;
  margin-right: 5px;
  font-weight: 600;
}

.blog_item_detail {
  margin-top: 0;
  margin-right: 5px;
  font-style: oblique;
  font-weight: 400;
}

.blog_body {
  margin: 8px;
  padding: 4px;
  font-weight: 400;
}

.truncate-multiline {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  margin: 0;
}

.profile-details {
  margin: auto;
  margin-top: 50px;
  width: 90vw;
  height: fit-content;
  padding: 10px;
  border: #233D4D;
  border-style: solid;
  border-radius: 10px;
  text-align: left;
}

.profile-item {
  margin: 0;
  font-size: medium;
  font-weight: 600;
}

.profile-item-detail {
  margin-top: 0;
  margin-right: 5px;
  font-style: oblique;
  font-weight: 400;
}

.row {
  display: flex;
}

.ed-del {
  display: flex;
  text-align: right;
  align-content: flex-end;
  justify-content: flex-end;
  gap: 8px;
}

.edit {
  cursor: pointer;
  text-align: right;
}

.delete {
  cursor: pointer;
  text-align: right;
}

.login_button {
  padding: 5px;
  position: fixed;
  right: 1vw;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  font-size: 1.5vw;
  max-height: 50px;
  max-width: fit-content;
}
.login_button:hover {
  border-color: #646cff;
}
.login_button:focus,
.login_button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.new_blog_button {
  padding: 10px;
  position: fixed;
  right: 1vw;
  bottom: 2vh;
  border-radius: 5px;
  border: 1px solid;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  font-size: 3vw;
  max-height: 100px;
  max-width: fit-content;
}
.new_blog_button:hover {
  background-color: #c9ffd9;
  border-color: #36ff89;
}

.new_blog_button:focus,
.new_blog_button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.My_Blogs {
  margin-bottom: 150px;
}

.logout_button {
  padding: 5px;
  position: fixed;
  right: 1vw;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #c34242;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  font-size: 1.5vw;
  max-height: 50px;
  max-width: fit-content;
}
.logout_button:hover {
  border-color: #df0c0c;
}
.logout_button:focus,
.logout_button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
